/* Write your code here. */
.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
}
.heading {
  color: #ffffff;
  font-family: "Bree Serif";
  margin: 10px;
}
.like-button {
  background-color: #eab308;
  margin: 10px;
  border-radius: 10px;
}
.comment-button {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.share-button {
  background-color: blue;
  margin: 10px;
  border-radius: 10px;
}
